body{
    font-family: 'Lato', sans-serif;
	position: relative;
	/*background: #3DA6D4;*/
    background: linear-gradient(lavander,white);    
	margin: 0px;
}
.main-section{ 
	width: 460px;
	position: fixed;
    margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 200px){
    #main-section { width: 90%; }
}

.content-section{
	background: #57c0d1;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
}
.head-section{
	background: #F3F3F3;
	text-align: center;
	padding: 15px 0px;
	border-bottom: 1px solid #CECECE;
}
.head-section h3{
	margin: 0px;
	color: #565656;
}
.body-section{
	padding:15px 30px 30px 30px;
	overflow: hidden;
}
.body-section .form-input{
	width: 100%;
	padding: 15px 0px;
}
.body-section .form-input input[type='text'],input[type='password']{
	width: calc(100% - 30px);
	border: 1px solid #D3D3D3;
	border-radius: 1px;
	padding:10px 10px;
	box-shadow: 0px 0px 0px 5px rgb(239,244,247);
}
.body-section .form-input input[type='checkbox']{
	float: left;
}
.body-section label{
	color: #565656;
	padding: 1px 5px;
	float: left;
}
.body-section .btn-submit{
	float: right;
	background: #DEEDF4;
	border:1px solid #B5CBCD;
	color: #56778E;
	font-weight: bold;
	padding:7px 20px;
	border-radius: 15px;
}
.footer-section{
	color: #F1F1F1;
	text-align: center;
	padding-top: 15px;
	font-size: 12px;
}
.footer-section a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}